# Email Service
VITE_EMAILJS_SERVICE_ID=service_rr4ht3u
VITE_EMAILJS_TEMPLATE_ID=template_p8czqvd
VITE_EMAILJS_USER_ID=GkoX3Rw1QXFuJol9f

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=dlilqh3pb
VITE_CLOUDINARY_API_KEY=762563471959457
VITE_CLOUDINARY_API_SECRET=J49GcglEgkV9bFeOeXc459GRfzE