# Email Service
VITE_EMAILJS_SERVICE_ID=service_rr4ht3u
VITE_EMAILJS_TEMPLATE_ID=template_p8czqvd
VITE_EMAILJS_USER_ID=GkoX3Rw1QXFuJol9f

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key